@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
}

.navbar {
  display: flex;
  padding: 12px 72px;
  background-color: rgb(243, 244, 245);
}

.navbar-list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 36px;
  gap: 5em;
  margin-top: 6px;
}

#logo {
  max-width: 48px;
  max-height: 48px;
}

.navbar-list a {
  text-decoration: none;
  color: #272a31;
  font-size: 20px;
}

.active {
  border-bottom: 2px solid;
}

h1 {
  /* padding-left: 80px; */
  text-align: center;
  margin-bottom: 36px;
}

.btn {
  padding: 5px;
}

footer {
  border-top: #272a31 2px solid;
  padding: 18px;
}

.display-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  margin: 0 3px;
  font-size: 3px;
}

.fa-heart {
  padding: 0 10px;
}

@media screen and (min-width: 767px) {
  .media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 0 44px;
  }

  .media-item .media-container {
    margin: 20px;
  }

  .media-details {
    text-align: ;
    margin: 0 3px;
  }

  .btn {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}
