@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
}

.navbar {
  display: flex;
  padding: 12px 72px;
  background-color: rgb(243, 244, 245);
}

.navbar-list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 36px;
  gap: 5em;
  margin-top: 6px;
}

#logo {
  max-width: 48px;
  max-height: 48px;
}

.navbar-list a {
  text-decoration: none;
  color: #272a31;
  font-size: 20px;
}

.active {
  border-bottom: 2px solid;
}

h1 {
  text-align: center;
  margin-bottom: 36px;
}

.btn {
  padding: 5px;
}

footer {
  border-top: #272a31 2px solid;
  padding: 18px;
}

.display-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  margin: 0 3px;
  font-size: 3px;
}

.fa-heart {
  padding: 0 10px;
}

.card {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.178);
}

.popup-container {
  width: 80%;
  height: auto;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 8px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.popup-close-btn button {
  all: unset;
}

.popup-close-btn {
  padding: 16px;
  display: flex;
  justify-content: end;
}

p {
  font-size: 1rem;
  padding: 0 2rem;
}

.popup-img {
  display: flex;
  justify-content: center;
}

.content-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.content-details p {
  font-size: 16px;
}

#content-image {
  height: 35rem;
  width: 45rem;
}

.movie-attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.movie-attributes span {
  font-weight: bold;
}

.comment-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.add-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add-comment ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 767px) {
  .media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 0 44px;
  }

  .media-item .media-container {
    margin: 20px;
  }

  .media-details {
    margin: 0 3px;
  }

  .btn {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}
